In [1]:
import pandas
import numpy as np

from clean import *

df_players_teams = pandas.read_csv("dataset/players_teams.csv")

df_players_teams = clean_teams_players(df_players_teams)

df_players_teams.head()

df_players= pandas.read_csv("dataset/players.csv")

df_players = clean_players(df_players)

df_merged = merge_player_info(df_players, df_players_teams)

      coachID  year tmID  lgID  stint  won  lost  post_wins  post_losses
0  adamsmi01w     5  WAS  WNBA      0   17    17          1            2
1  adubari99w     1  NYL  WNBA      0   20    12          4            3
2  adubari99w     2  NYL  WNBA      0   21    11          3            3
3  adubari99w     3  NYL  WNBA      0   18    14          4            4
4  adubari99w     4  NYL  WNBA      0   16    18          0            0


      coachID  year tmID  stint  won  lost  post_wins  post_losses
0  adamsmi01w     5  WAS      0   17    17          1            2
1  adubari99w     1  NYL      0   20    12          4            3
2  adubari99w     2  NYL      0   21    11          3            3
3  adubari99w     3  NYL      0   18    14          4            4
4  adubari99w     4  NYL      0   16    18          0            0

In [2]:
df_pred = player_rankings(df_merged)

#sort by player rankings
df_pred = df_pred.sort_values(by=['predictions'], ascending=False)

df_pred.head(20)

       playerID    medium  predictions
464  tauradi01w  3.357231     3.336905
275  leslili01w  3.303227     3.294452
86   catchta01w  3.170157     3.164172
368  parkeca01w  2.888040     2.885868
228  jacksla01w  2.698630     2.707898
379  pondeca01w  2.622344     2.642727
548  youngso01w  2.315050     2.360242
35   beardal01w  2.199414     2.206995
434  smithka01w  2.208483     2.196639
475  thompti01w  2.129342     2.120975
354  nolande01w  2.125775     2.102771
131  dupreca01w  2.097602     2.090749
327  miltode01w  1.943180     1.970624
511  whaleli01w  1.961740     1.963763
529  willina01w  1.981814     1.958925
185  griffyo01w  1.974420     1.957899
552  zellosh01w  1.981967     1.953608
153   fordch01w  1.955608     1.945468
406  salesny01w  1.941547     1.932908
83    cashsw01w  1.927076     1.929790

In [3]:
# get the players in a team 

df_player_of_teams = merge_player_info(df_players, df_players_teams) 

df_players_teams = player_in_team_by_year(df_player_of_teams)

df_players_teams = team_mean(df_players_teams, df_pred)

df_players_teams.head(20)

   tmID  year                                           playerID      mean
0   ATL     9  [balesal01w, castriz01w, desouer01w, haynikr01...  0.351334
1   ATL    10  [castriz01w, desouer01w, holdsch01w, lacyje01w...  0.826248
2   CHA     1  [bauerca01w, brazian01w, enissh01w, erbsu01w, ...  0.093191
3   CHA     2  [anderke01w, bristre01w, edwarto01w, enissh01w...  0.477468
4   CHA     3  [anderke01w, edwarto01w, enissh01w, erbsu01w, ...  0.486543
5   CHA     4  [brownru01w, brumfma01w, enissh01w, feastal01w...  0.562497
6   CHA     5  [andrame01w, bjorkte01w, feastal01w, frettla01...  0.693443
7   CHA     6  [darlihe01w, feastal01w, goodsad01w, lewisty01...  0.935910
8   CHA     7  [bondla01w, currimo01w, darlihe01w, feastal01w...  0.635682
9   CHI     7  [brownco01w, cronika01w, dalesst01w, dupreca01...  0.480043
10  CHI     8  [cantydo01w, chriska01w, coggicl01w, currimo01...  0.586082
11  CHI     9  [cantydo01w, chanequ01w, dupreca01w, flukety01...  0.372332
12  CHI    10  [cantydo01w, dupreca01w, elysh01w, fowlesy01w,...  0.412270
13  CLE     1  [andrame01w, badertr01w, barnead01w, brownru01...  0.341488
14  CLE     2  [andrame01w, badertr01w, barnead01w, brownru01...  0.445473
15  CLE     3  [andrame01w, badertr01w, berthlu01w, brownru01...  0.327079
16  CLE     4  [berthlu01w, darlihe01w, hendetr01w, jacksde01...  0.485218
17  CON     4  [blackde01w, colemco01w, douglka01w, hicksje01...  0.731125
18  CON     5  [blackde01w, brungje01w, derevje01w, douglka01...  0.777520
19  CON     6  [brungje01w, careyja01w, derevje01w, douglka01...  0.735304